.d{
  text-align: center;
  
}
.ad{
  height: 40px;
  width: 200px;
  background-color: rgb(46, 84, 118);
  border: none;
  cursor: pointer;
}
.ai{
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.button-container{
  text-align: center;
  margin: 30px;
}
.gm{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: rgb(255, 249, 249);
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.gc{
  padding: 20px;
  background-color: rgb(63, 115, 144);
  width: 200px;
  cursor: pointer;
}
.ed{
  text-align: center;
  
}

@media screen and (max-width:800px){
  h1{
    margin-left: -82px;
    padding-left: 84px;
    margin-top: 50px;
  }
  .ad {
    margin-left: 16px;
    width:53%;
    height:53px;
    padding: -20px;
    font-size: medium;

  }
  .gm{
    grid-template-columns:subgrid;
    margin-left: -96px;

  }
  .gc{
    margin-left: 98px;

  }
  
}